div {
  display: block;
}

body {
  background-color: #cce8f1;
}

.header {
  padding: 20px 20px;
  margin: 10px auto;
  border-radius: 20px;
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.date {
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn.btn-info {
  background-color: #8c61ff;
  border-color: #8c61ff;
  --bs-btn-color: var(--bs-white);
}
.btn.btn-dark {
  background-color: #45c2fd;
  border-color: #45c2fd;
}
.today {
  padding: 20px 20px;
  margin: 10px auto;
  border-radius: 20px;
  max-width: 450px;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  line-height: 25px;
}
.overview {
  margin-bottom: 20px;
}

.country {
  color: darkgray;
}

.currentWeatherEmoji {
  max-width: 80px;
  position: relative;
  top: -12px;
  left: -10px;
}

.current-description {
  line-height: 2;
}

.currentDescription::first-letter {
  text-transform: capitalize;
}

.currentTemperatureClass {
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
}
.temperature-scale {
  position: relative;
  font-size: 16px;
  top: -24px;
}
.temperatureScaleActive {
  font-weight: 600;
}
.temperatureScaleInactive {
  color: darkgray;
}

.temperatureScaleInactive:hover {
  cursor: pointer;
}

.collapse,
.details {
  display: block;
  max-width: 450px;
  margin: 1px, auto;
}

.forecast-block {
  margin: 10px auto;
  text-align: center;
}
.forecastMin {
  color: darkgrey;
}
.btn.btn-light {
  max-width: 90px;
  background-color: white;
}
.forecastIconImg {
  max-width: 100%;
}

footer {
  text-align: center;
  /* margin: 20px auto; */
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

small {
  font-size: 18px;
}
